%button-unstyled {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

%button-focus {
    border-radius: 2px;
    box-shadow: 2px 2px 10px #000000, 
    -2px -2px 10px #ffffff;
}

%button-icon {
    padding: 2px 0 0 0;    
}

ul.e4e-treeview div.e4e-icon > button > span {
    @extend %button-icon;
}

ul.e4e-treeview div.e4e-expand > button > span {
    @extend %button-icon;
}

ul.e4e-treeview div.e4e-check > button > span {
    @extend %button-icon;
}

ul.e4e-treeview li.e4e-node div.e4e-icon > button {
    @extend %button-unstyled;
}

ul.e4e-treeview li.e4e-node div.e4e-expand > button {
    @extend %button-unstyled;
}

ul.e4e-treeview li.e4e-node div.e4e-content > button {
    @extend %button-unstyled;
}

ul.e4e-treeview li.e4e-node div.e4e-select > button {
    @extend %button-unstyled;
}

ul.e4e-treeview li.e4e-node div.e4e-check > button {
    @extend %button-unstyled;
}

ul.e4e-treeview div.e4e-content > button:focus {
    @extend %button-focus;
}

ul.e4e-treeview div.e4e-expand > button:focus {
    @extend %button-focus;
}

ul.e4e-treeview div.e4e-icon > button:focus {
    @extend %button-focus;
}

ul.e4e-treeview div.e4e-select > button:focus {
    @extend %button-focus;
}

ul.e4e-treeview div.e4e-check > button:focus {
    @extend %button-focus;
}